{% macro grid(grid) %}
    {# @var grid \Percas\Core\Component\Grid\Grid #}
    <table style="width: 100%">
        <thead>
        <tr>
            {% for header in grid.headers %}
                {# @var header \Percas\Core\Component\Grid\Header #}
                <th>{{ header.name }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in grid.rows %}
            {# @var row \Percas\Core\Component\Grid\Row #}
            <tr>
                {% for column in row.columns %}
                    {# @var column \Percas\Core\Component\Grid\DisplayColumn #}
                    <td>{{ column.value }}</td>
                {% endfor %}
                <td>
                    {% for action in row.actions %}
                        {# @var action \Percas\Core\Component\Grid\RowAction #}
                        <div>
                            <a href="{{ app.request.pathinfo }}/{{ action.id }}/{{ action.type }}">{{ action.name }}</a>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
